@import 'base/sanitize';

//variables
$dark-bg: #1D2436;
$body-white: #EDE6F4;
$link-green: #15dab6;
$link-yellow: #ffc410;

body {
  background-color: $dark-bg;
  color: $body-white;
  font-family: 'Cousine', monospace;
  font-size: 110%;
}

h1 {
  color: $link-green;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: $link-yellow;
  border-bottom: 2px solid $link-yellow;

  &:hover,
  &:focus {
    color: $link-green;
    border-color: $link-green;
  }
}

main {
  width: 90%;
  margin: 3em auto 0;
  padding-top: 2em;
  border-top: 1px solid $body-white;

  @media (min-width: 52em){ 
    width: 70%;
  }

  @media (min-width: 120em){ //1920px
    width: 50%;
  }
}

.site-header {
  text-align: center;
  margin-bottom: 2em;  
}

.site-title {
  margin-bottom: 0;
}

.site-title a {
  border:none;
}

.subhead {
  margin-bottom: 3em;
}

//item gallery thing
.item-container {
  // display: flex;
  // flex-wrap: wrap;
}

.item {
  margin: 0 0 2em;
  padding: 0.5em;
  // margin: 0.5em;
  display: inline-block;
  width: calc(100% - 1em);
  // background-color: lighten($dark-bg, 40%);
  @media (min-width: 30em){ 
    width: calc(50% - 1em);
  }
  
  @media (min-width: 52em){ 
    width: calc(33.333% - 1em);
  }
}

.item img {
  width: 100%;
  height: auto;
}

.item figcaption {
  border-bottom: $body-white 1px solid;
}

.item-title {
  font-weight: 700;
}

.item-tags {
  text-align: right;
  font-size: 0.8em;
}

footer {
  text-align: center;
}